<!DOCTYPE html>
<html>
     <head>
        <title>Travel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     <body>
        <header th:replace="layout/Menu :: header"/>
        <div class="contenido">
            <h2>Promociones</h2>
            <br/>
            <div th:if="${promociones != null and !promociones.empty}">

            </div>
            <div th:if="${promociones==null or promociones.empty}">
                No tenemos paquetes que mostrar...
            </div>
        </div>
        <footer th:replace="layout/Menu :: footer" />
    </body>
</html>
