<!DOCTYPE html>
<html>
    <head>
        <title>Travel</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilospromociones.css" rel="stylesheet" type="text/css"/>
        <link href="/css/default.css" rel="stylesheet" type="text/css"/>
        <link href="/css/banner.css" rel="stylesheet" type="text/css"/>

    </head>
    <body><div id="container">
            <header>
                <div>
                    <div>
                        <a id="botonReturn" href="/">
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="11" y2="18" />
                        <line x1="5" y1="12" x2="11" y2="6" />
                        </svg>-->
<img class="logoPagina" src="/imagenes/logoPagina.png" width="200px" height="90px" alt=""/> 
                    </a>
                    </div>
                    <div>
                        <a id="botonCarrito">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="6" cy="19" r="2" />
                            <circle cx="17" cy="19" r="2" />
                            <path d="M17 17h-11v-14h-2" />
                            <path d="M6 5l14 1l-1 7h-13" />
                            </svg>
                        </a>

                        <div class="espacio"></div>

                        <a id="usuario">
                            Kendall
                        </a>

                        <div class="espacio"></div>

                        <a id="desloguear">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                            </svg>
                            <span>Sing Out</span>
                        </a>
                    </div>
                </div>
            </header>
            <main>
                <section id="banner">
                    <div>
                        <form>
                            <div>
                                <label>A donde quieres viajar?</label>
                                <input type="text" id="text" placeholder="lugar de viaje" size="30"/>
                            </div>
                            <div>
                                <label>Salida</label>
                                <input type="date" name="salida" min="2021-01-01" max="2023-12-31"/>
                            </div>
                            <div>
                                <label>Llegada</label>
                                <input type="date" name="llegada" min="2021-01-01" max="2023-12-31"/> 
                            </div>
                            <buttom type="submit" id="button">Explorar</buttom>
                        </form>

                    </div>
                </section>
                <section class="promociones">
                    <h2>
                        PROMOCIONES
                    </h2>
                    <div>
                        <a th:href="@{/promociones/promocion}" 
                           th:each="link : ${promociones}" th:object="${link}" th:if="${link.tipo} == 'temporada'">
                            <img th:src="@{${'/' + link.imagen}}" alt="">
                            <span th:text="${link.titulo}"></span>
                        </a>
                        <!--                    <a th:href="@{/promociones/promocionesDetalle}">
                                                <img src="imagenes/puertovallarta.jpg" alt="Puerto Vallarta"/>
                                                <span>Puerto Vallarta</br>Todo Incluido</span>
                                            </a>
                                            <a href="@{/promociones/promocionesDetalle}">
                                                <img src="imagenes/islasmalvinas.jpg" alt="Islas Malvinas"/>
                                                <span>Islas Malvinas</br>2X1 Todo Incluido</span>
                                            </a>
                                            <a href="@{/promociones/promocionesDetalle}">
                                                <img src="imagenes/israel.jpg" alt="Israel"/>
                                                <span>Israel</br>Todo Incluido</span>
                                            </a>
                                           <a href="@{/promociones/promocionesDetalle}">
                                                <img src="imagenes/playasamara.jpg" alt="Playa Samara"/>
                                                <span>Playa Samara</br>Todo Incluido</span>
                                            </a>
                                            <a href="@{/promociones/promocionesDetalle}">
                                                <img src="imagenes/fortunaSancarlos.jpg" alt="Fortuna de San Carlos"/>
                                                <span>Fortuna de San Carlos</br>Todo Incluido</span>
                                            </a>-->
                    </div>
                </section>
            </main>
            <footer th:replace="layout/Menu :: footer" />
        </div>
</body>
</html>
