<!DOCTYPE html>

<html>
    <head>
        <title>Travel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     <body>
        <header th:replace="layout/Menu :: header"/>
        <div class="contenido">
            <h2>Paquete</h2>
            <br/>
            <!--        <br/>  para evaluacion de atributo en el model, usamos el simbolo de $ y para rutas se usa @ y abro {}-->
            <div th:if="${paquetes != null and !paquetes.empty}">

            </div>
            <div th:if="${paquetes==null or paquetes.empty}">
                No tenemos paquetes que mostrar...
            </div>
        </div>
        <footer th:replace="layout/Menu :: footer" />
    </body>
</html>
