/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Mar 2023, 22:20:27
    Author     : Silvinha
*/
.Alinear{
    
    display: flex;
    justify-content: center;
}

.china{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.croacia{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.paris{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.nuevazelanda{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.singapore{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}


.Alajuela{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.guanacaste{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.puertoviejo{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.playasdelcoco{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.puntarenas{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

#piePagina {

    height: 8%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 730px 0px;
}

#contenido {

    
    color: black;
    
}
.textoTur{
    display: flex;
    justify-content: right;
    
}

.imagenTur{
    border-radius: 18px;
    height: 400px;
    width: 500px;
    margin-left: 100px;
}
.txt{
    margin-left: 50px;
}

.banner{
    border-radius: 18px;
}

.botonAlquilar{
    display: block;
    width: 150px;
    font-weight: 800;
    background-color: #66ccff;
    border-radius: 10px;
    padding: 15px 30px;
    margin: -400px 1500px;
    color: white;
    text-decoration: none;
}