/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Mar 2023, 22:20:27
    Author     : Silvinha
*/
.Alinear{
    
    display: flex;
    justify-content: center;
}

.china{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.croacia{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.paris{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.nuevazelanda{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.singapore{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}


.Alajuela{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.guanacaste{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.puertoviejo{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.playasdelcoco{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

.puntarenas{
    margin-right: 5px;
    border-radius: 18px;
    width: 370px;
    height: 300px;
}

#piePagina {

    height: 8%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 730px 0px;
}

#contenido {

    
    color: black;
    
}
.textoTur{
    display: flex;
    justify-content: right;
    
}

.imagenTur{
    border-radius: 18px;
    height: 400px;
    width: 500px;
    margin-left: 100px;
}
.txt{
    margin-left: 50px;
}

.banner{
    border-radius: 18px;
}

.botonAlquilar{
    display: block;
    width: 150px;
    font-weight: 800;
    background-color: #66ccff;
    border-radius: 10px;
    padding: 15px 30px;
    margin: -400px 1500px;
    color: white;
    text-decoration: none;
}



.form-pago{
    
/*  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-size: 22px;
  margin-bottom: 20px;
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;*/


}