*{
    margin:0;
    box-sizing: border-box;
    /*    background-color: #645bf5;*/
}

.imgArticulo1{
   left: 10px;
    
}

.imgArticulo{
  margin-right: 37px;
  border-radius: 24px;
}

.logoPagina {
    height: 97px;
    width: 17%;
    padding: 0px 200px;
    /*line-height: 80px;*/


}
.header {
/*  height: 25%;*/
    top: 0;
    left: 10px;
    width: 100%;

}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin : auto;
}

.nav-link {
    color: white;
    text-decoration: none ;
}

.nav-menu{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    margin-right: 10px;
    list-style: none;
    align-items: center;
}

.nav-menu-item{
    font-size: 18px;
    /*margin: 0 18px;*/
    /*line-height: 80px;*/
    width: max-content;
}

.nav-menu-link{
    /*padding: 8px 12px;*/
    border-radius: 10px;
}

.nav-menu-link:hover{
    font-size: 20px;
    background-color: #0EA06F;
    transition: 1s;
}

.contactanos {
}

.footer{
    background-color: black;
    text-align: center;
    color:white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

.inicioSesion {
    font-size: 18px;
    margin-left: 1500px;
    text-decoration: none ;
    
}

.inicioSesion {
    font-size: 18px;
    margin-left: 1500px;
    text-decoration: none ;
    
}
