<html>
    <head>
        <title>Crear Usuario</title>
        <meta charset="UTF-8">
        <link href="/static/css/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div><img src="static/imagenes/log.png" alt="log"/></div>
        <div class="login">
            <h4>Registro Nuevo Usuario</h4>
            <label>Ingrese los siguientes datos</label>
            </br>
            </br>
            <label for="nombre">Username</label>
            </br>
            <input type="text" name="nombre" required>
            </br>

            <label for="ape">Apellidos</label>
            </br>
            <input type="text" name="apellido" required>
            </br>

            <label for="usr">Nombre de usuario</label>
            </br>
            <input type="text" name="usr" required>
            </br>

            <label for="email">Correo Electrónico</label>
            </br>
            <input type="email" name="usr" required>
            </br>
            <label>Correo Electrónico </label>
            </br>
            <input type="email" name="email" placeholder="zxc@email.com"><br/>
            </br>

            <label>Ingrese Fecha de Nacimiento </label> 
            </br>

            <input type="date" id="calendario" name="calendar" value="2018-07-22"
                   min="2018-01-01" max="2022-12-30">
            </br>
            </br>
            <label>Contraseña </label>
            </br>
            <input type="password" name="pass" required>
            </br>
            </br>

            <label>Repetir Contraseña </label>
            </br>
            <input type="password" name="pass" required>
            </br> </br>
            <button type="submit">Registrarse</button>

        </div>
    </body>
</html>
