
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div><img src="static/imagenes/log.png" alt="log"/></div>
         <div class="login">
            <h4>Bienvenido!</h4>
            <label>Inicie Sesión para continuar</label>
            </br>

            <input type="user" placeholder="Nombre de Usuario" name="nombreUsuario" required>
            </br>
            </br>
            <label for="contraseña"><b></b></label>
            <input type="password" placeholder="Contraseña" name="psw" required>
            </br>
            </br>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Recordarme
            </label>
            <a href="recuperarContraseña.html" >Olvidó su Contraseña?</a>
            </br>
            </br>
            <button type="submit">Inciar Sesión</button>

        </div>
    </body>
</html>
