<html>
    <html xmlns:th="http://www.thymeleaf.org">
        <title>Iniciar Sesión</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div><img src="static/imagenes/log.png" alt="log" class="log"/></div>
        <div class="login">
            <h4>Bienvenido!</h4>
            <label>Inicie Sesión para continuar</label>
            </br>

            <input type="text" placeholder="Nombre de Usuario" name="nombreUsuario" required>
            </br>
            </br>
            <label for="contraseña"><b></b></label>
            <input type="password" placeholder="Contraseña" name="pass" required>
            </br>
            </br>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Recordarme
            </label>
            <a href="recuperarContraseña.html" >Olvidó su Contraseña?</a>
            </br>
            </br>
            <button type="submit">Inciar Sesión</button>

        </div>

    </body>
</html>

