
<html>
    <head>
        <title>Recuperar</title>
        <meta charset="UTF-8">
        <link href="../../stati/ccss/menu.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/css/default.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/css/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/Menu :: header"/>
        <div><img src="../../static/imagenes/log.png" alt="log" border-radius="10px"/></div>
        <label>Ingrese lo Siguiente</label>
        </br>
       
        <h4>Correo Registrado</h4>
        </br>
        <label for="email">Correo Electrónico</label>
        </br>
        <input type="email" name="usr" required>
        </br>
        <button type="submit">Enviar</button>
         <footer th:replace="layout/Menu :: footer"/>
         
    </body>

</html>