
<html>
    <head>
        <title>Recuperar</title>
        <meta charset="UTF-8">
        <link href="/static/css/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div><img src="static/imagenes/log.png" alt="log"/></div>
        <label>Ingrese lo Siguiente</label>
        </br>
       
        <h4>Correo Registrado</h4>
        </br>
        <label for="email">Correo Electrónico</label>
        </br>
        <input type="email" name="usr" required>
        </br>
        <button type="submit">Registrarse</button>
    </body>

</html>