<html>
    <head>
        <title>Recuperar</title>
        <meta charset="UTF-8">

        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estiloLogin.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/Menu :: header"></header>

        </br>
        </br>
        </br>
        <div><img src="../../static/imagenes/log.png" alt="log" border-radius="10px"/></div>
        <label>Ingrese lo Siguiente</label>
        </br>

        <h4>Correo Registrado</h4>
        </br>
        <label for="email">Correo Electrónico</label>
        </br>
        <input type="email" name="usr" required>
        </br>
        <button type="submit">Enviar</button>


    </body>

</html>
