
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../static/css/default.css" rel="stylesheet" type="text/css"/>
         <link href="../../stati/ccss/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <header th:replace="layout/Menu :: header"/>
         <div><a href="/consulta.html">Consulta Reservación</a></div>
        <footer th:replace="layout/Menu :: footer"/>
    </body>
</html>
